{deps, [
        {lager, ".*", {git, "git://github.com/basho/lager.git", {branch, master}}},
        %{esocial, ".*", {git, "https://github.com/T0ha/esocial.git"}},
        %{coldstrap, ".*", {git, "https://github.com/choptastic/coldstrap.git"}},
        {gettexter, ".*", {git, "https://github.com/seriyps/gettexter.git"}},
        {gen_smtpc, ".*", {git, "git://github.com/dan-kihot8/gen_smtpc.git"}}
       ]}.
