{erl_opts, [
    debug_info,
    {i, "include"},
    nowarn_export_all
]}.

{deps, [
    {simple_bridge, {git, "https://github.com/nitrogen/simple_bridge", {tag, "v2.3.1"}}},
    {nitrogen_core, {git, "https://github.com/nitrogen/nitrogen_core", {tag, "v3.0.0-alpha.13"}}},
    {simple_cache, {git, "https://github.com/nitrogen/simple_cache", {branch, master}}},
    {nprocreg, {git, "https://github.com/nitrogen/nprocreg", {branch, master}}},
    {cowboy, {git, "https://github.com/ninenines/cowboy", {tag, "2.12.0"}}},
    {lager, {git, "https://github.com/erlang-lager/lager.git", {tag, "3.9.2"}}},
    {qdate, {git, "https://github.com/choptastic/qdate", {tag, "0.7.3"}}},
    {coldstrap, {git, "https://github.com/choptastic/coldstrap.git", {tag, "0.1.0"}}},
    {sync, {git, "https://github.com/rustyio/sync", {tag, "v0.4.1"}}},
    {gen_smtpc, {git, "https://github.com/OtpChatBot/gen_smtpc.git", {branch, master}}}
]}.

{overrides, [
    {override, pc, [{erl_opts, [nowarn_deprecated_function]}]},
    {override, fs, [{erl_opts, [nowarn_deprecated_function]}]}
]}.

{post_hooks, [
    {compile, "cp -r _build/default/lib/nitrogen_core/www static/nitrogen"}
]}.

{shell, [
    {config, "etc/sys.config"},
    {apps, [nitrogen]}
]}.
