<div id="wrapper">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header" class="">
            <a class="navbar-brand pull-left wfid_title" href="/">[[[index:title(Page)]]]</a>
            <button type="button" class="navbar-toggle pull-left" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
               
        </div>
        
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            [[[bootstrap:nav_items(Page, "sidebar-nav", ["navbar navbar-nav navbar-right"])]]]  
        </div>
        [[[admin:admin_logout_button()]]]  
    </nav>

    <!-- Page Content -->
    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="wfid_container">
            [[[index:block(Page, "container")]]]
            </div>
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /#page-wrapper -->

</div>
