.inplace_textbox>.view {
    min-height: 20px;
}

.inplace_textbox>.view>.label {
    color: #000;
    font-size: 100%;
    font-weight: normal;
}

.inplace_textbox>.view>.instructions {
    font-size:75%;
}

.btn-upload {
    margin-top: 20px;
}

.upload-content {
    display: none;
}

.upload_drop {
    border: 1px #e5e5e5 dashed;
    height: 200px;
    width: 200px;
    padding: 80px 25px;
    font-size: 20px;
}

.page-block-sort {
    min-height: 50px;
    border: #e5e5e5 1px solid;
    background-color: #f5f5f5;
}

#wysiwyg_editor {
    padding: 5px;
    margin: 15px;
    border-radius: 5px;
    overflow-y: auto;
    height: 300px;
}

.glyphicon-copy:before {
    content: "\e205";
}
.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
