.inplace_textbox>.view>.label {
    color: #000;
    font-size: 100%;
    font-weight: normal;
}
.inplace_textbox>.view>.instructions {
    font-size:75%;
}

.btn-upload {
    margin-top: 20px;
}

.upload-content {
    display: none;
}

.upload_drop {
    border: 1px #e5e5e5 dashed;
    height: 200px;
    width: 200px;
    padding: 80px 25px;
    font-size: 20px;
}
