<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
                <h1>
                    Oops!</h1>
                <h2>
                    403 Access forbidden</h2>
                <div class="error-details">
                    Sorry, you have no permission to access this page.
                </div>
                <br>
                <div class="error-actions">
                    <a href="/?page=login" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-home"></span>
                        Login Page </a>
                    <a href="#" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-envelope"></span> Contact Support </a>
                </div>
            </div>
        </div>
    </div>
</div>