<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="[[[index:description(Page)]]]">
    <meta name="author" content="[[[index:author(Page)]]]">

    <title>[[[page:title(Page)]]]</title>
    [[[index:block(Page, "css")]]]
    [[[index:head(Page)]]]
</head>

<body [[[index:body_attrs(Page)]]]>
    [[[page:body(Page)]]]
    [[[index:block(Page, "script")]]]
<script>
[[[script]]]
</script>
</body>

</html>
